@page "/elastic"


@if (data == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <input @bind="query" />
    <button @onclick="onClick" class="btn btn-primary">Search</button>

    <table class="table tabela">
        <thead>
            <tr>
                <th>Imie i Nazwisko</th>
                <th>Płeć</th>
                <th>Waluta</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rec in data)
            {
                <tr>
                    <td>@rec.Customer_full_name</td>
                    <td>@rec.Customer_gender</td>
                    <td>@rec.Currency</td>
                </tr>
            }
        </tbody>
    </table>
}



@code {

    List<ElasticModel> data;
    string other;

    protected override async Task OnInitializedAsync()
    {
        data = new List<ElasticModel>();
        // data = repo.Get("");
    }

    void onClick()
    {
        // data = repo.Get(query);
        other = query;
    }

}
